{% extends "base.html" %}
{% block title %}
    Lista das Reviews
{% endblock title %}
{% block content %}

    {% load extras %}
    <h1>Reviews dos jogos</h1>
    
    <div class="header-table">
        <form method="get">
            <p style="margin-bottom: 0.5rem">Procurar por nome:</p>
            <div class="busca">
                {{myFilter.form.game}}
                <button class="botao_busca" type="submit">Buscar</button>
            </div>
        </form>
        <a class="btn-nova-review" href="{% url 'reviews-add' %}">Nova Review</a>
    </div>
    <table id="game-table" class="" cellspacing="0" width="100%">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th class="th-sm">Numero</th>
                <th class="th-sm">Jogo</th>
                <th class="th-sm">Data de lançamento</th>
                <th class="th-sm">Preço</th>
                <th class="th-sm">Jogadores</th>
                <th class="th-sm">Desenvolvedor</th>
                <th class="th-sm">Publicador</th>
                <th class="th-sm">Tempo medio de jogo</th>
                <th class="th-sm">Tempo mediano de jogo</th>
                <th class="th-sm">Metascore</th>
                <th class="th-sm">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for object in page_obj %}
                <tr>
                    <td>{{object.number}}</td>
                    <td>{{object.game}}</td>
                    <td>{{object.release_date}}</td>
                    <td>{{object.price}}</td>
                    <td>{{object.owners}}</td>
                    <td>{{object.developer}}</td>
                    <td>{{object.publisher}}</td>
                    <td>{{object.average_playtime}}</td>
                    <td>{{object.median_playtime}}</td>
                    <td>{{object.metascore}}</td>
                    <td>
                        Acoes
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="botao_pagina" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; primeira</a>
                <a class="botao_pagina" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a class="botao_pagina" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">próxima</a>
                <a class="botao_pagina" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock content %}